* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

nav {
    border-bottom: 2px solid gray;
}

body {
    background-color: #00121F !important
}

.gradient-color {
    background-image: linear-gradient(to right, #89D1FF, #606A76, aqua, rgba(0, 0, 255, 0.555));
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill {
    padding: 50px;
}

.f1 {
    top: 0;
    left: 0;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 54.6px;
    border: #9CB8A7 solid 7px;
    border-radius: 50%;
    z-index: -1;
}

.f2 {
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    padding: 50px;
    border: red solid 5px;
    border-radius: 50%;

}

.skill-circle-htm {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#4A5994 0% 95%, #EDF1EF 90% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.skill-circle-cs {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#4A5994 0% 70%, #EDF1EF 70% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-circle-bs {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#4A5994 0% 95%, #EDF1EF 95% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.skill-circle-js {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#4A5994 0% 70%, #EDF1EF 70% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-percentage {
    position: absolute;
    font-weight: bold;
    color: #00121F !important;
}

.tool {
    text-align: center;
    color: white;
    margin: auto;
    background-color: #00121F !important;
    border: 0px black solid;
    border-radius: 45%;
    padding: 9px 9px 2px 9px;
    width: 31%;
}

.project {
    background-color: transparent !important;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.project:hover {
    img {

        transform: scale(1.1);
        transition: .5s;
    }
}

li {
    width: fit-content !important;
    cursor: pointer;
    /* background-color: #5A5A5A; */
    margin: 0 5px;
    position: relative;
}



.nav-text {
    color: #00121F !important;
    margin-left: 20px;
}

.icon {
    position: absolute;
    /* margin-left: 50px; */
}

.icon1 {
    margin-left: 50px;
}

.icon2 {
    margin-left: 62px !important
}

.icon3 {
    margin-left: 45px;
}

.icon4 {
    margin-left: 82px;
}

li:hover {
    .nav-text {
        transition: 1s;
        color: white !important;
        display: inline;
    }

    .icon {
        margin-left: 0 !important;
        transition: .7s;
    }
}

.s {
    background-color: transparent;
}

i {
    cursor: pointer;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.f{
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.f:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: #0866FF;
    background-color: white;
}

.w{
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.w:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: green;
    background-color: white;
}

.g{
    padding: 10px;
    border-radius: 15px;
    color:white;
}

.g:hover{
    transform: scale(1.2);
    transition: .5s;
    color: #00121F;
    background-color:white;
}

.e:hover{
    transform: scale(1.2);
    color: #0073B2;
    background-color: white; 
    transition: .5s;
}

.e{
    padding: 10px;
    border-radius: 15px;
    color: white;
}
